* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

@font-face { font-family: GoGoPosterPunch; src: url('../GoGoPosterPunch.ttf'); } 
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%; 
    margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1A2933;
  color: #FFF;
  border: 1px solid #48545c;
  overflow-y: hidden;
}
h1 {
    margin: 0 0 10px 0; 
    font-weight: 600; 
    line-height: 1.2;
}
p {
    margin-top: 10px; 
    color: rgba(255,255,255,0.4);
}

.logo {
    z-index: 1;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 60px;
    width: 60px;
    background-color: #0095ff;
    border-radius: 50%;
}

.logo img {
    margin-left: 2px;
    text-align: center;
    height: 55px;
    widows: 55px;
}
#titlebar {
  display: block;
  position: fixed;
  padding: 4px;
  height: 32px;
  width: calc(100% - 2px); /*Compensate for body 1px border*/
  background: #0095ff;
  color: #FFF;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    font-family: GoGoPosterPunch;
    font-size: 18px;
    margin-left: 65px;
    overflow-x: hidden;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
}

#window-controls .button:hover {
    background: rgba(255,255,255,0.2);
    opacity: 1;
}



#window-controls #min-button {
    grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
    grid-column: 2;
}
#window-controls #close-button {
    grid-column: 3;
}
#window-controls #close-button:hover {
    background: #E81123;
}

#window-controls #restore-button {
    display: none;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  overflow-y: auto;
  text-align: center;
}

.mode {
    margin-top: 30px;
    margin-bottom: 20px;
}

.mode label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

#queue-list {
    margin: 5px 0 20px 0;
}

#margin-list p {
    padding-bottom: 10px;
}

#queue-list ul {
  height: 125px;
  overflow-x: scroll;
  list-style-type: none;
}

#scoreboard img{
    width: 331px;
    height: 80px;
    margin-bottom: 30px;
}

#qcontrol button {
    font-family: GoGoPosterPunch;
    color: white;
    font-size: 20px;
    width: 95px;
    height: 45px;
    background-color: #2F313C;
    border-radius: 17px;
    margin: 10px 15px 10px 15px;
}

.arrow {
    text-align: center;
    margin: 8% 0;
}
.arrow a {
    color: white;
    text-decoration: none;
}
/*
    This might get annoying so change it to a light slow color fade
    or just do the animation if the user hasnt scrolled down or
    even if a setting needs to be updated or changed.
*/
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@media only screen and (max-height: 450px) {
    #scoreboard {
        display: none;
    }
  }

#settings {
    height: 80px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

::-webkit-scrollbar { display: none; }